/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.hide{
    display: none !important;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.6rem; 
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.6em;
    display: block;
    cursor: pointer;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}


ul ul a {
    font-size: 1.3em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.product{
    display: flex !important;
    cursor: default;
    user-select: none;
}
.svg-inline--fa.fa-w-10{
    width: 1.425em;
    top: 4px;
    position: relative;
}
.product-list{
    display: none;
    list-style: none;
    padding-left: 0;
}

.product-list.active{
    display: block;
}
.sidebar-header__img{
    width: 100%;
    background-size: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px  ;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebarCollapse{
    margin-left: 20px;
    color: #000;

}
#sidebarCollapse:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}

/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */

.modal-dialog{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.head-form{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    user-select: none;

}
#header-title{
    font-size: 3rem;
    font-weight: 600;
}
.img__notify,
.img__product{
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
}
.tableDanhSach img {
    display: block;
    width: 101px;
    margin: 0 auto;
    height: 82px;
}
.table-hover tbody tr:hover{
    background-color: #fff;
}
#resetFormOrder span{
    font-size: 1.2rem;
}
table{
    table-layout: fixed;
}




.thongkedonhang,
.thongketaikhoan,
.thongkesanpham {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Đổi giá trị khoảng cách giữa các thanh tiến tròn */
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.progress {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    margin: 10px; /* Thêm margin để tạo khoảng cách giữa các thanh tiến tròn */
}

.progress h3 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}

.progress h3 span {
    font-weight: 400;
}

.progress h4 {
    position: absolute;
    bottom: 35px; /* Đưa label lên trên một chút để cách lề dưới */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
     font-size: 14px;
}

.progress::after {
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}

.progress::before {
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.progress::before {
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}

.progress.less::before {
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
}
